Data_synthese/TEST_Cilent/Service References/WCF_Synthese_Remote/ServiceWCF_Synthese.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceWCF_Synthese" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://periodiqco1.web703.discountasp.net/WCF_Synthese/ServiceWCF_Synthese.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://periodiqco1.web703.discountasp.net/WCF_Synthese/ServiceWCF_Synthese.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://periodiqco1.web703.discountasp.net/WCF_Synthese/ServiceWCF_Synthese.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BO_Synthese.DTO" />
      <xsd:import schemaLocation="http://periodiqco1.web703.discountasp.net/WCF_Synthese/ServiceWCF_Synthese.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCF_Synthese.EntitesWCF" />
      <xsd:import schemaLocation="http://periodiqco1.web703.discountasp.net/WCF_Synthese/ServiceWCF_Synthese.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BO_Synthese" />
      <xsd:import schemaLocation="http://periodiqco1.web703.discountasp.net/WCF_Synthese/ServiceWCF_Synthese.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://periodiqco1.web703.discountasp.net/WCF_Synthese/ServiceWCF_Synthese.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceWCF_Synthese_DeleteCommentaire_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommentaire" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteCommentaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommentaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_AddCommentaire_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentaire" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_AddCommentaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetCommentaire_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentaire" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetCommentaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetUsager_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsager" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetUsager_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsagerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_InsertUsager_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUsager" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_InsertUsager_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUsagerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_UpdateUsager_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsager" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_UpdateUsager_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsagerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteUsager_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsager" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteUsager_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsagerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetOiseau_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOiseau" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetOiseau_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOiseauResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetAllOiseaux_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOiseaux" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetAllOiseaux_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOiseauxResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_InsertOiseau_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOiseau" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_InsertOiseau_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOiseauResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_UpdateOiseau_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOiseau" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_UpdateOiseau_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOiseauResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteOiseau_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOiseau" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteOiseau_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOiseauResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetCriOiseau_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCriOiseau" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetCriOiseau_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCriOiseauResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_InsertCriOiseau_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCriOiseau" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_InsertCriOiseau_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCriOiseauResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_UpdateCriOiseau_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCriOiseau" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_UpdateCriOiseau_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCriOiseauResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteCriOiseau_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCriOiseau" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteCriOiseau_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCriOiseauResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPhoto" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_InsertPhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPhoto" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_InsertPhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_UpdatePhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhoto" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_UpdatePhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeletePhoto_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhoto" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeletePhoto_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePhotoResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_ObtenirAlerte_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirAlerte" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_ObtenirAlerte_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenirAlerteResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_SupprimerAlertes_InputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerAlertes" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_SupprimerAlertes_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerAlertesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_AjouterAlertes_InputMessage">
    <wsdl:part name="parameters" element="tns:AjouterAlertes" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_AjouterAlertes_OutputMessage">
    <wsdl:part name="parameters" element="tns:AjouterAlertesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_AddObservation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddObservation" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_AddObservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddObservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetObservation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetObservation" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetObservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetObservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetAllObservation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllObservation" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetAllObservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllObservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteObservation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObservation" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_DeleteObservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteObservationResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImage" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_GetImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImageResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_AddImage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddImage" />
  </wsdl:message>
  <wsdl:message name="IServiceWCF_Synthese_AddImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceWCF_Synthese">
    <wsdl:operation name="DeleteCommentaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteCommentaire" message="tns:IServiceWCF_Synthese_DeleteCommentaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteCommentaireResponse" message="tns:IServiceWCF_Synthese_DeleteCommentaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCommentaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/AddCommentaire" message="tns:IServiceWCF_Synthese_AddCommentaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/AddCommentaireResponse" message="tns:IServiceWCF_Synthese_AddCommentaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetCommentaire" message="tns:IServiceWCF_Synthese_GetCommentaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetCommentaireResponse" message="tns:IServiceWCF_Synthese_GetCommentaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsager">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetUsager" message="tns:IServiceWCF_Synthese_GetUsager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetUsagerResponse" message="tns:IServiceWCF_Synthese_GetUsager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUsager">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/InsertUsager" message="tns:IServiceWCF_Synthese_InsertUsager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/InsertUsagerResponse" message="tns:IServiceWCF_Synthese_InsertUsager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsager">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/UpdateUsager" message="tns:IServiceWCF_Synthese_UpdateUsager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/UpdateUsagerResponse" message="tns:IServiceWCF_Synthese_UpdateUsager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsager">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteUsager" message="tns:IServiceWCF_Synthese_DeleteUsager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteUsagerResponse" message="tns:IServiceWCF_Synthese_DeleteUsager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOiseau">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetOiseau" message="tns:IServiceWCF_Synthese_GetOiseau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetOiseauResponse" message="tns:IServiceWCF_Synthese_GetOiseau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOiseaux">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetAllOiseaux" message="tns:IServiceWCF_Synthese_GetAllOiseaux_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetAllOiseauxResponse" message="tns:IServiceWCF_Synthese_GetAllOiseaux_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOiseau">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/InsertOiseau" message="tns:IServiceWCF_Synthese_InsertOiseau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/InsertOiseauResponse" message="tns:IServiceWCF_Synthese_InsertOiseau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOiseau">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/UpdateOiseau" message="tns:IServiceWCF_Synthese_UpdateOiseau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/UpdateOiseauResponse" message="tns:IServiceWCF_Synthese_UpdateOiseau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOiseau">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteOiseau" message="tns:IServiceWCF_Synthese_DeleteOiseau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteOiseauResponse" message="tns:IServiceWCF_Synthese_DeleteOiseau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCriOiseau">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetCriOiseau" message="tns:IServiceWCF_Synthese_GetCriOiseau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetCriOiseauResponse" message="tns:IServiceWCF_Synthese_GetCriOiseau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCriOiseau">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/InsertCriOiseau" message="tns:IServiceWCF_Synthese_InsertCriOiseau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/InsertCriOiseauResponse" message="tns:IServiceWCF_Synthese_InsertCriOiseau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCriOiseau">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/UpdateCriOiseau" message="tns:IServiceWCF_Synthese_UpdateCriOiseau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/UpdateCriOiseauResponse" message="tns:IServiceWCF_Synthese_UpdateCriOiseau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCriOiseau">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteCriOiseau" message="tns:IServiceWCF_Synthese_DeleteCriOiseau_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteCriOiseauResponse" message="tns:IServiceWCF_Synthese_DeleteCriOiseau_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetPhoto" message="tns:IServiceWCF_Synthese_GetPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetPhotoResponse" message="tns:IServiceWCF_Synthese_GetPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/InsertPhoto" message="tns:IServiceWCF_Synthese_InsertPhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/InsertPhotoResponse" message="tns:IServiceWCF_Synthese_InsertPhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/UpdatePhoto" message="tns:IServiceWCF_Synthese_UpdatePhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/UpdatePhotoResponse" message="tns:IServiceWCF_Synthese_UpdatePhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeletePhoto" message="tns:IServiceWCF_Synthese_DeletePhoto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeletePhotoResponse" message="tns:IServiceWCF_Synthese_DeletePhoto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenirAlerte">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/ObtenirAlerte" message="tns:IServiceWCF_Synthese_ObtenirAlerte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/ObtenirAlerteResponse" message="tns:IServiceWCF_Synthese_ObtenirAlerte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupprimerAlertes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/SupprimerAlertes" message="tns:IServiceWCF_Synthese_SupprimerAlertes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/SupprimerAlertesResponse" message="tns:IServiceWCF_Synthese_SupprimerAlertes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AjouterAlertes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/AjouterAlertes" message="tns:IServiceWCF_Synthese_AjouterAlertes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/AjouterAlertesResponse" message="tns:IServiceWCF_Synthese_AjouterAlertes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/Login" message="tns:IServiceWCF_Synthese_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/LoginResponse" message="tns:IServiceWCF_Synthese_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/Logout" message="tns:IServiceWCF_Synthese_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/LogoutResponse" message="tns:IServiceWCF_Synthese_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddObservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/AddObservation" message="tns:IServiceWCF_Synthese_AddObservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/AddObservationResponse" message="tns:IServiceWCF_Synthese_AddObservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetObservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetObservation" message="tns:IServiceWCF_Synthese_GetObservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetObservationResponse" message="tns:IServiceWCF_Synthese_GetObservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllObservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetAllObservation" message="tns:IServiceWCF_Synthese_GetAllObservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetAllObservationResponse" message="tns:IServiceWCF_Synthese_GetAllObservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteObservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteObservation" message="tns:IServiceWCF_Synthese_DeleteObservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/DeleteObservationResponse" message="tns:IServiceWCF_Synthese_DeleteObservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetImage" message="tns:IServiceWCF_Synthese_GetImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/GetImageResponse" message="tns:IServiceWCF_Synthese_GetImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/AddImage" message="tns:IServiceWCF_Synthese_AddImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceWCF_Synthese/AddImageResponse" message="tns:IServiceWCF_Synthese_AddImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ServiceWCF_Synthese" />
</wsdl:definitions>