Data_synthese/TEST_Cilent/Service References/WCF_Synthese_Remote/ServiceWCF_Synthese5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Synthese.EntitesWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Synthese.EntitesWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsagerWCF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntiteWCFBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Courriel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstAdministrateur" type="xs:boolean" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="MotDePasse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NomUsager" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsagerWCF" nillable="true" type="tns:UsagerWCF" />
  <xs:complexType name="EntiteWCFBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageErreur" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntiteWCFBase" nillable="true" type="tns:EntiteWCFBase" />
  <xs:complexType name="OiseauWCF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntiteWCFBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CrisOiseau" nillable="true" type="tns:ArrayOfCriOiseauWCF" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Espece" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Photos" nillable="true" type="tns:ArrayOfPhotoWCF" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OiseauWCF" nillable="true" type="tns:OiseauWCF" />
  <xs:complexType name="ArrayOfCriOiseauWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CriOiseauWCF" nillable="true" type="tns:CriOiseauWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCriOiseauWCF" nillable="true" type="tns:ArrayOfCriOiseauWCF" />
  <xs:complexType name="CriOiseauWCF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntiteWCFBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IDOiseau" type="xs:int" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Son" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriOiseauWCF" nillable="true" type="tns:CriOiseauWCF" />
  <xs:complexType name="ArrayOfPhotoWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PhotoWCF" nillable="true" type="tns:PhotoWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPhotoWCF" nillable="true" type="tns:ArrayOfPhotoWCF" />
  <xs:complexType name="PhotoWCF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntiteWCFBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IDOiseau" type="xs:int" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PhotoWCF" nillable="true" type="tns:PhotoWCF" />
  <xs:complexType name="OiseauWCFList">
    <xs:sequence>
      <xs:element minOccurs="0" name="OiseauxWCF" nillable="true" type="tns:ArrayOfOiseauWCF" />
      <xs:element minOccurs="0" name="QteTotale" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OiseauWCFList" nillable="true" type="tns:OiseauWCFList" />
  <xs:complexType name="ArrayOfOiseauWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OiseauWCF" nillable="true" type="tns:OiseauWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOiseauWCF" nillable="true" type="tns:ArrayOfOiseauWCF" />
  <xs:complexType name="ArrayOfAlerteWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlerteWCF" nillable="true" type="tns:AlerteWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlerteWCF" nillable="true" type="tns:ArrayOfAlerteWCF" />
  <xs:complexType name="AlerteWCF">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EntiteWCFBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="IDOiseau" type="xs:int" />
          <xs:element minOccurs="0" name="IDUsager" type="xs:int" />
          <xs:element minOccurs="0" name="Oiseau" nillable="true" type="tns:OiseauWCF" />
          <xs:element minOccurs="0" name="Usager" nillable="true" type="tns:UsagerWCF" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlerteWCF" nillable="true" type="tns:AlerteWCF" />
</xs:schema>