Data_synthese/WPF_ClientSynthèse/Service References/ServiceWCF_Synthese/ServiceWCF_Synthese.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2037/ServiceWCF_Synthese.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Synthese" />
  <xs:element name="GetUsager">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Synthese" minOccurs="0" name="GetUsagerResult" nillable="true" type="q1:UsagerWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>